.squareButton {
    width: 100px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #EBEBEB;

    background-color: #673AB7;

    border-radius: 5px;
}

.squareButton:hover {
    transition: .2s;

    background-color: #1E1E1E;
}